$font-path: "../webfonts/";

@font-face {
  font-family: "GT Alpina";
  src: url($font-path + "GT-Alpina-Standard-Light.woff2") format("woff2"),
    url($font-path + "GT-Alpina-Standard-Light.woff") format("woff");
  font-weight: $font-weight-light;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "GT Alpina";
  src: url($font-path + "GT-Alpina-Standard-Light-Italic.woff2") format("woff2"),
    url($font-path + "GT-Alpina-Standard-Light-Italic.woff") format("woff");
  font-weight: $font-weight-light;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "Inter";
  src: url($font-path + "inter-regular.woff2") format("woff2");
  font-weight: $font-weight-regular;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Inter";
  src: url($font-path + "inter-medium.woff2") format("woff2");
  font-weight: $font-weight-medium;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Inter";
  src: url($font-path + "inter-semibold.woff2") format("woff2");
  font-weight: $font-weight-semibold;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url($font-path + "libre-baskerville.ttf") format("truetype");
  font-weight: $font-weight-regular;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url($font-path + "libre-baskerville-italic.ttf") format("truetype");
  font-weight: $font-weight-regular;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url($font-path + "WorkSans-regular.ttf") format("truetype");
  font-weight: $font-weight-regular;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url($font-path + "WorkSans-Medium.ttf") format("truetype");
  font-weight: $font-weight-medium;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url($font-path + "WorkSans-Semibold.ttf") format("truetype");
  font-weight: $font-weight-semibold;
  font-style: normal;
  font-stretch: normal;
}
